.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem 2rem;
  margin: 2.5rem 0 2rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (max-width: 860px) {
  .icons {
    gap: 1rem 0.5rem;
  }
}
@media (max-width: 660px) {
  .icons {
    grid-template-columns: 1fr 1fr;
  }
}
